[submodule "Source/Library"]
	path = Source/Library
	url = https://www.github.com/larioteo/omnia
[submodule "Source/3rd-Party/glm"]
	path = Source/3rd-Party/glm
	url = https://github.com/g-truc/glm
[submodule "Source/3rd-Party/stb"]
	path = Source/3rd-Party/stb
	url = https://github.com/nothings/stb
[submodule "Source/3rd-Party/entt"]
	path = Source/3rd-Party/entt
	url = https://github.com/skypjack/entt
[submodule "Source/3rd-Party/OpenAL"]
	path = Source/3rd-Party/OpenAL
	url = https://github.com/kcat/openal-soft
[submodule "Source/3rd-Party/vorbis"]
	path = Source/3rd-Party/vorbis
	url = https://github.com/xiph/vorbis
[submodule "Source/3rd-Party/ogg"]
	path = Source/3rd-Party/ogg
	url = https://github.com/xiph/ogg
[submodule "Source/3rd-Party/SPIRV-Cross"]
	path = Source/3rd-Party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Source/3rd-Party/glslang"]
	path = Source/3rd-Party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Source/3rd-Party/SPIRV-Headers"]
	path = Source/3rd-Party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
