# 3rd-Party
/3rd-Party/**/Assets
/Assets/Models/Backpack
/Assets/Models/Nanosuit
/Assets/Models/Sponza

# Build
/[Bb]uild/
/[Cc]ache/

# Directories
.vs/
.vscode/

# Files
*.log
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
