[submodule "3rd-Party/imgui"]
	path = 3rd-Party/imgui
	url = https://github.com/larioteo/imgui.git
	branch = docking
[submodule "3rd-Party/entt"]
	path = 3rd-Party/entt
	url = https://github.com/larioteo/entt.git
[submodule "3rd-Party/glm"]
	path = 3rd-Party/glm
	url = https://github.com/larioteo/glm.git
[submodule "3rd-Party/stb"]
	path = 3rd-Party/stb
	url = https://github.com/larioteo/stb.git
[submodule "3rd-Party/assimp"]
	path = 3rd-Party/assimp
	url = https://github.com/larioteo/assimp.git
